{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<section class="h-screen flex flex-col justify-center items-center">
  <div class="px-6 py-8 w-10/12 max-w-md
              rounded-lg bg-gray-100">
    <h1 class="mb-4 text-xl font-bold text-gray-900 md:mb-6 md:text-2xl">Login to SGCARWASH</h1>

    <form method="POST" class="space-y-4 md:space-y-6">
      <div>
        <label for="email" class="font-light">Email Address</label>
        <input id="email" type="email" name="email" placeholder="name@example.com"
          class="p-2.5 w-full block rounded-lg font-light text-gray-900 bg-gray-50 border border-gray-300 focus:outline-none focus:ring-1 focus:ring-blue-600 focus:border-blue-600" />
      </div>

      <div>
        <label for="password" class="font-light">Password</label>
        <input type="password" name="password" id="password" placeholder="••••••••"
          class="p-2.5 w-full block rounded-lg font-light text-gray-900 bg-gray-50 border border-gray-300 focus:outline-none focus:ring-1 focus:ring-blue-600 focus:border-blue-600" />
      </div>

      <button type="submit" class="px-5 py-2.5 w-full rounded-lg
                                   text-white text-center font-medium bg-blue-600
                                   hover:bg-blue-700 focus:outline-none
                                   focus:ring-4 focus:ring-blue-300">
        Login
      </button>

      <p class="text-sm font-light text-gray-500">
        Don't have an account yet?
        <a href="{{ url_for('auth.signup') }}" class="font-medium text-blue-600 hover:underline">Sign Up</a>
      </p>
    </form>
  </div>
</section>
{% endblock %}