  {% extends 'base.html' %}

{% block title %}Account Management{% endblock %}

{% block content %}

      <div class="h-auto"> 
            <div class = " lg:w-4/5 border-t-2 border-blue-500 mx-auto"><img class="mx-auto rounded w-48 my-6" src="https://ui-avatars.com/api/?name={{user.full_name }}&format=svg&rounded=true" ></div>
              <div class="lg:w-4/5 bg-slate-100 border h-auto w-auto mx-auto drop-shadow-lg bg-white p-6 rounded-lg">
                <div class="shadow hidden w-full flex flex-row gap-1 p-4 mb-4 text-sm text-red-800 bg-red-100 rounded-lg" id = 'alert'>
                  <img class = 'flex w-5 h-5' src="/img/exclaimation.svg" alt="Exclaimation Icon"><span id = 'alert-msg'></span>
              </div>
                <h2 class = "font-semibold text-lg text-center">Profile Infomation</h2>
                <hr class = "border border-blue-500 mt-2 my-4">
                  
                
                  <div class="mb-4"> 
                    <label class="block font-normal mb-2" for="full_name">Full Name</label>
                    <input class="hidden w-full border-2 border-gray-300 px-3 py-2 rounded-lg shadow-sm" type="text" id="full_name" placeholder="John Tan" value="{{user.full_name}}">
                  </div>
                  <div class = 'mb-4'>
                    <span class = 'ml-6 text-lg font-semibold' id = 'fname'></span>
                  </div>
                  <div class="mb-4">
                    <label class="block font-normal mb-2" for="phone_number">Contact Number</label>
                    <input class="hidden w-full border-2 border-gray-300 px-3 py-2 rounded-lg shadow-sm" type="tel" id="phone_number" placeholder="8391 2912" value="{{user.phone_number}}">
                  </div>
                  <div class = 'mb-4'>
                    <span class = 'ml-6 text-lg font-semibold' id = 'contact'></span>
                  </div>

                <div class="text-center ">
                  <button class=" w-32 px-4 py-2 font-semibold text-white bg-blue-500 rounded-md hover:bg-blue-700 focus:outline-none focus:shadow-outline" id='edit' type="button" onclick="swap_span_to_input(),swap_buttons_to_confirm()">  
                    <img class = 'inline mb-1 -ml-2 mr-2 h-6'src = "/img/edit.svg">Edit
                  </button>
                </div>

                <div class="text-left">
                  <button class=" hidden w-28 px-4 py-2 font-bold text-blue-500 bg-white border-2 border-blue-500 rounded-md hover:text-white hover:border-white duration-200 ease-out hover:bg-blue-700 focus:outline-none focus:shadow-outline" id = 'cancel' type = 'button' onclick="swap_input_to_span()">  
                    Cancel
                  </button>
                  <button class=" hidden w-28 px-4 py-2 font-bold text-white bg-blue-500 rounded-md hover:bg-blue-700 focus:outline-none focus:shadow-outline" id = 'confirm' type="submit" onclick="put_request()">  
                    Confirm
                  </button>
                </div>

              </div>
              


      <div class="lg:w-4/5 mt-12 bg-slate-100 border h-auto w-auto mx-auto drop-shadow-lg bg-white p-6 rounded-lg">
        <h2 class = "font-semibold text-lg text-center">Account Details</h2>
        <hr class = "border border-blue-500 mt-2 ">
              <div class="h-auto mx-auto drop-shadow-lg rounded-lg">
                  <div class=" w-full flex flex-row gap-1 p-4 my-4 text-sm text-gray-600 bg-white rounded-lg">
                    NOTE: Email cannot be changed
                  </div> 
                  <div id = 'password-alert-div' class=" hidden w-full flex flex-row gap-1 p-4 my-4 text-sm text-red-800 bg-red-100 rounded-lg">
                    <img class = 'flex w-5 h-5' src="/img/exclaimation.svg" alt="Exclaimation Icon"><span id = 'password-alert'></span>
                  </div> 

                  <div class="mb-4"> 
                    <label class="block font-normal mb-2" for="email">Email</label>
                  </div>
                  <div class = 'mb-4'>
                    <span class = 'ml-6 text-lg font-semibold' id = 'email'>{{user.email}}</span>
                  </div>

                  <div class="mb-4">
                    <label class="block font-normal mb-2" for="password">Password</label>
                    <input class="hidden w-full border-2 border-gray-300 px-3 py-2 rounded-lg shadow-sm" type="text" id="password-input" placeholder="••••••••" value="{{user.password}}">
                  </div>
                  <div class="mb-4">
                    <label class="hidden block font-normal mb-2" for="password" id = 'password-confirm-label' >Password Confirm</label>
                    <input class="hidden w-full border-2 border-gray-300 px-3 py-2 rounded-lg shadow-sm" type="text" id="password-confirm-input" placeholder="••••••••" value="{{user.password}}">
                  </div>
                  <div class = 'mb-4'>
                    <span class = 'ml-6 text-xl' id = 'pass'>• • • • • • • •</span>
                  </div>

                <div class="text-center ">
                  <button class=" w-32 px-4 py-2 font-bold text-white bg-blue-500 rounded-md hover:bg-blue-700 focus:outline-none focus:shadow-outline" id='edit-password' type="button" onclick="edit_password()">  
                    <img class = 'inline mb-1 -ml-2 mr-2 h-6'src = "/img/edit.svg">Edit
                  </button>
                  <div id = 'reveal' class = "mt-4 italic text-sm font-light">(Password revealed when editing)</div>
                </div>

                <div class="text-left">
                  <button class=" mt-4 hidden w-28 px-4 py-2 font-bold text-blue-500 bg-white border-2 border-blue-500 rounded-md hover:text-white hover:border-white duration-200 ease-out hover:bg-blue-700 focus:outline-none focus:shadow-outline" id = 'cancel-password' type = 'button' onclick="cancel_password_change()">  
                    Cancel
                  </button>
                  <button class=" mt-4 hidden w-28 px-4 py-2 font-bold text-white bg-blue-500 rounded-md hover:bg-blue-700 focus:outline-none focus:shadow-outline" id = 'confirm-password' type="submit" onclick="put_request_password()">  
                    Confirm
                  </button>
                </div>

              </div>
      </div>


     <div class="lg:w-4/5 mt-12 bg-slate-100 border h-auto w-auto mx-auto drop-shadow-lg bg-white rounded-lg">
      


        <h2 class = "font-semibold text-lg text-center p-6">Delete Account</h2>
        <hr class = "border border-blue-500 mx-6 ">
              <div class = 'h-auto p-6 mx-auto drop-shadow-lgrounded-lg'>
                <div class=" shadow mx-6 flex flex-row gap-1 p-4 mb-4 text-sm text-blue-500 border bg-white rounded-lg">
                  <img class = 'flex w-5 h-5' src="/img/exclaimation.svg" alt="Exclaimation Icon">WARNING: This action cannot be undone!
                </div> 
                <p class = 'font-semibold'>Permanently Delete Your Account</p>
              
                  
                  <div class = 'text-center'>
                    <button class="mt-3 w-32 px-4 py-2 font-bold text-white bg-blue-500 rounded-md hover:bg-blue-700 rounded-md focus:outline-none focus:shadow-outline" id = 'delete-button' onclick = 'show_confirmation()'>
                        <img class = 'h-6 inline mb-1 -ml-2 mr-2' src = '/img/delete.svg'>Delete
                    </button>
                  </div>
              </div>
          
      </div>
      </div> 
    </div>
    <div class = ' hidden w-full fixed z-40 inset-0 bg-slate-500/50 ' id = 'popup-overlay'>
      <div class = 'w-4/5 bg-white px-8 py-6 rounded-lg absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-50' id = 'confirmation'>
        <span id = 'confirmation-text'>
        Are you sure you want to <span class = 'font-semibold'>Permanently</span> delete your account?
        </span> 
        <span id = 'success-delete' class = 'hidden font-semibold'>Account Successfully Deleted, Redirecting to Home Page</span>
        <div class=" w-full flex flex-row gap-1 p-4 my-4 text-sm text-red-800 bg-red-100 rounded-lg" id = 'delete-warning'>
            <img class = 'flex w-5 h-5' src="/img/exclaimation.svg" alt="Exclaimation Icon">WARNING: This action cannot be undone!
          </div>
          <div class = 'flex justify-center'>
            <button class="mr-2 mt-3 w-32 px-4 py-2 font-bold text-orange-500 border-2 border-orange-500 duration-200 ease-out rounded-md hover:bg-orange-700 focus:outline-none focus:shadow-outline" id = 'cancel-button' onclick = 'cancel_delete()'>
                Cancel
            </button>
            <button onclick = 'delRequest()' class="ml-2 mt-3 w-32 px-4 py-2 font-bold border-2 border-orange-500 text-white bg-orange-500   rounded-md hover:bg-orange-700 focus:outline-none focus:shadow-outline" id = 'confirm-button'>
              Confirm
            </button>
          </div>

      
      </div>
      
    </div>

  <script>

    const userapi_url = {{ url_for("userapiendpoint")|tojson }};
    const user_email = {{user.uid|tojson}};

    function put_request_password(){
      let alert_div = document.getElementById('password-alert-div');
      let alert_msg = document.getElementById('password-alert');
      const password_input = document.getElementById('password-input').value;
      const password_confirm = document.getElementById('password-confirm-input').value;

      if (password_confirm != password_input){
        alert_div.classList.remove('hidden');
        alert_msg.innerText = "Password confirmation must be the same as Password!"; 
        return
      } 
      else if (!password_confirm || !password_confirm ){
        alert_div.classList.remove('hidden');
        alert_msg.innerText = "All fields must be filled in!";
        return
      }
      else if (password_input === {{user.password|tojson}}){
        alert_div.classList.remove('hidden');
        alert_msg.innerText = "New password cannot be the same as your previous password!";
        return
      }

      let data_password = {
        "password": password_input
      }
      
      fetch(`${userapi_url}/${user_email}`, {
                "method": "PUT",
                "redirect": 'follow',
                "headers": {"Content-Type": "application/json"},
                "body": JSON.stringify(data_password),
            })
            .then(setTimeout(() => window.location.reload(), 250))

    }
    function edit_password(){
      let password_input = document.getElementById('password-input');
      let reveal_text = document.getElementById('reveal');
      let password_span = document.getElementById('pass');
      let password_confirm_label = document.getElementById('password-confirm-label');
      let password_confirm_input = document.getElementById('password-confirm-input');
      let edit_password_button = document.getElementById('edit-password');
      let cancel_button = document.getElementById('cancel-password');
      let confirm_button = document.getElementById('confirm-password');
      
      
      cancel_button.classList.remove('hidden');
      confirm_button.classList.remove('hidden');
      password_input.classList.remove('hidden');
      password_confirm_input.classList.remove('hidden');
      password_confirm_label.classList.remove('hidden');


      edit_password_button.classList.add('hidden');
      password_span.classList.add('hidden');
      reveal_text.classList.add('hidden');

    }

    function cancel_password_change(){
      let password_input = document.getElementById('password-input');
      let reveal_text = document.getElementById('reveal');
      let password_span = document.getElementById('pass');
      let password_confirm_label = document.getElementById('password-confirm-label');
      let password_confirm_input = document.getElementById('password-confirm-input');
      let edit_password_button = document.getElementById('edit-password');
      let cancel_button = document.getElementById('cancel-password');
      let confirm_button = document.getElementById('confirm-password');
      let alert_div = document.getElementById('password-alert-div');
      
      
      cancel_button.classList.add('hidden');
      confirm_button.classList.add('hidden');
      password_input.classList.add('hidden');
      password_confirm_input.classList.add('hidden');
      password_confirm_label.classList.add('hidden');
      alert_div.classList.add('hidden');


      edit_password_button.classList.remove('hidden');
      password_span.classList.remove('hidden');
      reveal_text.classList.remove('hidden');
    }

    function delRequest(){
      let confirmation_text = document.getElementById('confirmation-text');
      let success_delete = document.getElementById('success-delete');
      let cancel_button = document.getElementById('cancel-button');
      let confirm_button= document.getElementById('confirm-button');

      success_delete.classList.remove('hidden');

      confirmation_text.classList.add('hidden');
      cancel_button.classList.add('hidden');
      confirm_button.classList.add('hidden');


      fetch(`${userapi_url}/${user_email}`, {
                "method": "DELETE",
                "redirect": 'follow',
                "headers": {"Content-Type": "application/json"},
            })
            .then(setTimeout(() => window.location.href = '/', 1500))
    }

    function put_request(){ 
      let alert_msg = document.getElementById('alert-msg');
      let alert_div = document.getElementById('alert');

      let input_name = document.getElementById('full_name').value;
      const input_number = document.getElementById('phone_number').value;

      if(!input_name||!input_number){
        alert_div.classList.remove('hidden');
        alert_msg.innerText = "All fields must be filled in!";
        return
      }
      if(input_name==={{user.full_name|tojson}} && input_number === {{user.phone_number|tojson}}){
        alert_div.classList.remove('hidden');
        alert_msg.innerText = "New profile information must be different!";
        return
      }
      input_name = input_name.replace(/\s+/g, "")
      if(!(/^[a-zA-Z]+$/.test(input_name))){
        alert_div.classList.remove('hidden');
        alert_msg.innerText = "Enter Valid Name";
        return
      }
      if(!(Number(input_number))){
        alert_div.classList.remove('hidden');
        alert_msg.innerText = "Enter Valid Phone Number";
        return
      }
      if(input_number.length!=8){
        alert_div.classList.remove('hidden');
        alert_msg.innerText = "Phone Number Must be 8 Numbers";
        return
      }

      
      let data = {
        "full_name": input_name,
        "phone_number": input_number
      }
      
      fetch(`${userapi_url}/${user_email}`, {
                "method": "PUT",
                "redirect": 'follow',
                "headers": {"Content-Type": "application/json"},
                "body": JSON.stringify(data),
            })
            .then(setTimeout(() => window.location.reload(), 250))
    }

    function show_confirmation(){
      let overlay = document.getElementById('popup-overlay');
      overlay.classList.remove('hidden')
    }
    function cancel_delete(){
      let overlay = document.getElementById('popup-overlay');
      overlay.classList.add('hidden')
    }

    let fname = document.getElementById('fname');
    let contact = document.getElementById('contact');
    fname.innerText = {{user.full_name|tojson}};
    contact.innerText = {{user.phone_number|tojson}};

    function swap_span_to_input(){
      let span_name = document.getElementById('fname');
      let span_number = document.getElementById('contact');
      let input_name = document.getElementById('full_name');
      let input_number = document.getElementById('phone_number');

      span_name.classList.add('hidden');
      span_number.classList.add('hidden');

      input_name.classList.remove('hidden');
      input_number.classList.remove('hidden');  


    }

    function swap_input_to_span(){
      let span_name = document.getElementById('fname');
      let span_number = document.getElementById('contact');
      let input_name = document.getElementById('full_name');
      let input_number = document.getElementById('phone_number');

      span_name.classList.remove('hidden');
      span_number.classList.remove('hidden');

      input_name.classList.add('hidden');
      input_number.classList.add('hidden');  

      let edit_button = document.getElementById('edit');
      let cancel_button = document.getElementById('cancel');
      let confirm_button = document.getElementById('confirm');

      edit_button.classList.remove('hidden');

      cancel_button.classList.add('hidden');
      confirm_button.classList.add('hidden')

      let alert_div = document.getElementById('alert');
      alert_div.classList.add('hidden')
        

    }

    function swap_buttons_to_confirm(){
      let edit_button = document.getElementById('edit');
      let cancel_button = document.getElementById('cancel');
      let confirm_button = document.getElementById('confirm');

      edit_button.classList.add('hidden');

      cancel_button.classList.remove('hidden');
      confirm_button.classList.remove('hidden')
        
    }

  
  </script>
  {% endblock %}