{% extends 'base.html' %}

{% block title %}Account Wallet{% endblock %}

{% block content %}
<div class="py-4"></div>
<div class="container mx-auto px-4">
  <header class="py-6 bg-slate-300 border-b border-gray-300">
    <h1 class="text-center text-3xl font-bold text-gray-800 mb-2">{{user.full_name}}'s Wallet</h1>
  </header>
  <div class="bg-white rounded-lg shadow-lg p-8 mb-6">
    <h2 class="text-2xl font-bold text-gray-800 mb-4">Account Balance</h2>
    <p class="text-gray-600 mb-4">Your current account balance is:</p>
    <h3 class="text-4xl font-bold text-gray-800 mb-4">${{wallet.balance}}</h3>
    <div class="flex items-center space-x-4">
      <button onclick="show_topup()" id="topup" class="mt-3 w-32 px-4 py-2 font-bold text-white bg-blue-500 rounded-md hover:bg-blue-700 focus:outline-none focus:shadow-outline">
        Top up
      </button>
      <button onclick="show_withdraw()" id="withdraw" class="mt-3 w-32 px-4 py-2 font-bold text-white bg-blue-500 rounded-md hover:bg-blue-700 focus:outline-none focus:shadow-outline">
        Withdraw
      </button>
    </div>
  </div>
  
  <div class="bg-white rounded-lg shadow-lg p-8 mb-6">
    <div class="flex flex-row space-x-4">
      <h2 class="text-2xl font-bold text-gray-800 mb-4">Payment Methods</h2> 
      <button onclick="show_card_popup()" id="addcard" class="mb-4 w-32 font-bold text-white bg-blue-500 rounded-md hover:bg-blue-700 focus:outline-none focus:shadow-outline">
        Add Card
      </button>
      
      
    </div>
    
    <div class="flex flex-wrap -mx-2">
      <div class="w-full md:w-1/3 px-2 mb-4 md:mb-0">
        <div class="bg-slate-300 rounded-lg p-4">
          <div class="flex flex-row space-x-4">
            <img class = 'flex w-10 h-10' src="/img/visa.svg">
          </div>
          <p class="text-gray-600 mb-2 mt-1">XXXX-XXXX-XXXX-1234</p>
          <button onclick="show_delete_popup()" id="remove" class="mt-2  px-4 py-2 font-bold text-white bg-red-500 rounded-md hover:bg-red-700 focus:outline-none focus:shadow-outline">
            Remove
          </button>
        </div>
      </div>
      <div class="w-full md:w-1/3 px-2 mb-4 md:mb-0">
        <div class="bg-slate-300  00 rounded-lg p-4">
          <div class="flex flex-row space-x-4">
            <img class = 'flex w-10 h-10' src="/img/mastercard-2.svg">
          </div>
          <p class="text-gray-600 mb-2 mt-1">XXXX-XXXX-XXXX-1234</p>
          <button onclick="show_delete_popup()" id="remove" class="mt-2  px-4 py-2 font-bold text-white bg-red-500 rounded-md hover:bg-red-700 focus:outline-none focus:shadow-outline">
            Remove
          </button>
        </div>
      </div>
      
      
    </div>
  </div>
  
  <div class="bg-white rounded-lg shadow-lg p-8">
    <h2 class="text-2xl font-bold text-gray-800 mb-4">Recent Transactions</h2>
    <table class="w-full text-left table-collapse">
      <thead>
        <tr>
          <th class="text-xs font-semibold text-gray-600 p-4 bg-gray-100">Date</th>
          <th class="text-xs font-semibold text-gray-600 p-4 bg-gray-100">Description</th>
          <th class="text-xs font-semibold text-gray-600 p-4 bg-gray-100">Amount</th>
        </tr>
      </thead>
      <tbody>
        {% for record in wallet.transactions | reverse %}
        <tr>
          <td class="p-4">{{ record.transaction_timestamp }}</td>
          <td class="p-4">{{ record.transaction_type }}</td>
          <td class="p-4">{{ record.transaction_amount }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<div class = 'hidden w-full fixed z-40 inset-0 bg-slate-500/50 ' id = 'topup-popup'>
  <div class = 'bg-white px-8 py-6 rounded-lg absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-50' id = 'confirmation'>
    <span id = 'confirmation-text'>
    How much would you like to <strong>Top Up</strong>?
    </span> 
    <span id = 'success-topup' class = 'hidden font-semibold'>Top-up Successful!</span>
    <div>
      <input class="placeholder-blue-800 bg-blue-100 p-4 my-4 gap-1 text-blue w-full rounded-lg" placeholder="$" type="text">
    </div>
    <div class="grid grid-cols-4 gap-2">
      <button onclick="" id="" class="mt-3  md:px-4 py-2 font-bold text-white bg-blue-500 rounded-md hover:bg-blue-700 focus:outline-none focus:shadow-outline">
        $5
      </button>
      <button onclick="" id="" class="mt-3  md:px-4 py-2 font-bold text-white bg-blue-500 rounded-md hover:bg-blue-700 focus:outline-none focus:shadow-outline">
        $10
      </button>
      <button onclick="" id="" class="mt-3  md:px-4 py-2 font-bold text-white bg-blue-500 rounded-md hover:bg-blue-700 focus:outline-none focus:shadow-outline">
        $20
      </button>
      <button onclick="" id="" class="mt-3  md:px-4 py-2 font-bold text-white bg-blue-500 rounded-md hover:bg-blue-700 focus:outline-none focus:shadow-outline">
        $50
      </button>
    </div>
    
      <div class = 'pt-4 text-center'>
        <button class="mt-3 w-32 px-4 py-2 font-bold text-blue-500 border-2 border-blue-500 duration-200 ease-out rounded-md hover:bg-blue-700 focus:outline-none focus:shadow-outline" id = 'cancel-topup' onclick = 'cancel_topup()'>
            Cancel
        </button>
        <button onclick = 'topupRequest()' class="mt-3 w-32 px-4 py-2 font-bold border-2 border-blue-500 text-white bg-blue-500   rounded-md hover:bg-blue-700 focus:outline-none focus:shadow-outline" id = 'confirm-button'>
          Confirm
        </button>
      </div>
  </div>
  </div>
  
  <div class = 'hidden w-full fixed z-40 inset-0 bg-slate-500/50 ' id = 'withdraw-popup'>
    <div class = 'bg-white px-8 py-6 rounded-lg absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-50' id = 'confirmation'>
      <span id = 'confirmation-text'>
      How much would you like to <strong>Withdraw</strong>?
      </span> 
      <span id = 'success-topup' class = 'hidden font-semibold'>Top-up Successful!</span>
      <div>
        <input class="placeholder-blue-800 bg-blue-100 p-4 my-4 gap-1 text-blue w-full rounded-lg" placeholder="$" type="text">
      </div>
      <div class="grid grid-cols-4 gap-2">
        <button onclick="" id="" class="mt-3  md:px-4 py-2 font-bold text-white bg-blue-500 rounded-md hover:bg-blue-700 focus:outline-none focus:shadow-outline">
          $5
        </button>
        <button onclick="" id="" class="mt-3  md:px-4 py-2 font-bold text-white bg-blue-500 rounded-md hover:bg-blue-700 focus:outline-none focus:shadow-outline">
          $10
        </button>
        <button onclick="" id="" class="mt-3  md:px-4 py-2 font-bold text-white bg-blue-500 rounded-md hover:bg-blue-700 focus:outline-none focus:shadow-outline">
          $20
        </button>
        <button onclick="" id="" class="mt-3  md:px-4 py-2 font-bold text-white bg-blue-500 rounded-md hover:bg-blue-700 focus:outline-none focus:shadow-outline">
          $50
        </button>
      </div>
        <div class = 'text-center justify-between'>
          <button class="mt-4 w-32 px-4 py-2 font-bold text-blue-500 border-2 border-blue-500 duration-200 ease-out rounded-md hover:bg-blue-700 focus:outline-none focus:shadow-outline" id = 'cancel-withdraw' onclick = 'cancel_withdraw()'>
              Cancel
          </button>
          <button onclick = 'withdrawRequest()' class="mt-3 w-32 px-4 py-2 font-bold border-2 border-blue-500 text-white bg-blue-500   rounded-md hover:bg-blue-700 focus:outline-none focus:shadow-outline" id = 'confirm-button'>
            Confirm
          </button>
        </div>
    </div>
    </div>
  
  </div>

  <div class="hidden w-full fixed z-40 inset-0 bg-slate-500/50" id="card-popup">
    <div class="bg-slate-100 px-8 py-6 rounded-lg absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-50">
        <!-- Modal content -->
        <div class="bg-slate-100 relative">
          
            <div class="flex items-start justify-between pb-5 md:p-5 rounded-t">
                <h3 class="text-xl font-semibold">
                    Add new card
                </h3>
                <button onclick="cancel_card_popup()" type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center">
                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>  
                </button>
            </div>
     
            <div class="md:p-6 space-y-6">
                <form action="#">
                    <div class="grid grid-cols-2 gap-6">
                      <label class="" for="a">Issuing Bank:</label>
                      <div class="flex flex-row">
                        <img id="cardsvg" class = 'flex w-10 h-10' src="/img/visa.svg">
              
                        
                        <select class="border shadow-xl w-full" name="" id="">
                          <option value="Visa">Visa</option>
                          <option value="Mastercard">Mastercard</option>
                        </select>
                      </div>
                      <label for="cardno">Credit card number:</label>
                      <input class="border shadow-lg" id="cardno" type="number">
                      <label for="cardno">Cardholder Name:</label>
                      <input class="border shadow-lg" id="cardname" type="text">
                      
                      <div>
                      <label class="" for="cvv">CVV:</label> 
                      <input class="md:w-1/2 w-full border shadow-xl" id="cvv" type="text">
                      </div>
                      <div>
                        <label class="" for="expiration">Expiration:</label>
                        <input class="md:w-1/2 w-full border shadow-xl" type="month">
                      </div>
     
                    


                    </div> 
                </div>
                
                <div class="items-center p-6 border-t border-gray-200 rounded-b space-x-4">
                    <button class="text-white bg-blue-500 hover:bg-blue-700 focus:ring-4 focus:ring-cyan-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center" type="submit">Add card</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class = 'hidden w-full fixed z-40 inset-0 bg-slate-500/50 ' id = 'delete-overlay'>
  <div class = 'bg-white px-8 py-6 rounded-lg absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-50' id = 'confirmation'>
    <span id = 'confirmation-text'>
    Are you sure you want to <span class = 'font-semibold'>delete</span> this card?
    </span> 
    <span id = 'success-delete' class = 'hidden font-semibold'>Card Successfully Deleted</span>
    <div class=" w-full flex flex-row gap-1 p-4 my-4 text-sm text-red-800 bg-red-100 rounded-lg" id = 'delete-warning'>
        <img class = 'flex w-5 h-5' src="/img/exclaimation.svg" alt="Exclaimation Icon">WARNING: You are about to delete a payment method
      </div>
      <div class = 'text-center'>
        <button onclick="cancel_delete_popup()" class="mt-3 w-32 px-4 py-2 font-bold text-orange-500 border-2 border-orange-500 duration-200 ease-out rounded-md hover:bg-orange-700 focus:outline-none focus:shadow-outline" id = 'cancel-button' onclick = 'cancel_delete()'>
            Cancel
        </button>
        <button onclick = 'show_delete_confirm()' class="mt-3 w-32 px-4 py-2 font-bold border-2 border-orange-500 text-white bg-orange-500   rounded-md hover:bg-orange-700 focus:outline-none focus:shadow-outline" id = 'confirm-button'>
          Confirm
        </button>
      </div>

  
  </div>
  {% endblock %}

  {% block script %}
  <script>

    function show_topup(){
      let overlay = document.getElementById('topup-popup');
      overlay.classList.remove('hidden')
    }

    function cancel_topup(){
      let overlay = document.getElementById('topup-popup');
      overlay.classList.add('hidden')
    }

    function show_withdraw(){
      let overlay = document.getElementById('withdraw-popup');
      overlay.classList.remove('hidden')
    }

    function cancel_withdraw(){
      let overlay = document.getElementById('withdraw-popup');
      overlay.classList.add('hidden')
    }

   
    function show_card_popup(){
      let overlay = document.getElementById('card-popup');
      overlay.classList.remove('hidden')
    }

    function cancel_card_popup(){
      let overlay = document.getElementById('card-popup');
      overlay.classList.add('hidden')
    }

    function show_delete_popup(){
      let overlay = document.getElementById('delete-overlay');
      overlay.classList.remove('hidden')
    }
    
    function cancel_delete_popup(){
      let overlay = document.getElementById('delete-overlay');
      overlay.classList.add('hidden')
    }

    function show_delete_confirm(){
      let overlay = document.getElementById('success-delete');
      overlay.classList.remove('hidden')
    }
    svg=document.getElementById("cardsvg");
    
    function swapsvg(){
      svg2=document.getElementById("cardsvg").src="/img/mastercard-2.svg"
    }

    svg.addEventListener("change",swapsvg());


   
   


    
    



  
      </script>
  {% endblock %}