{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<head>
  <title>Account Management</title>
  <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css" >
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js" ></script> 

</head>

<body>

  <div class = 'hidden w-full fixed z-40 inset-0 bg-slate-500/50 ' id = 'popup-overlay'>
    <div class = 'bg-white px-8 py-6 rounded-lg absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-50' id = 'confirmation'>
      <span id = 'confirmation-text'>
      Are you sure you want to <span class = 'font-semibold'>Permanently</span> delete this account?
      </span> 
      <span id = 'success-delete' class = 'hidden font-semibold'>Account Successfully Deleted</span>
      <div class=" w-full flex flex-row gap-1 p-4 my-4 text-sm text-red-800 bg-red-100 rounded-lg" id = 'delete-warning'>
          <img class = 'flex w-5 h-5' src="/img/exclaimation.svg" alt="Exclaimation Icon">WARNING: This action cannot be undone!
        </div>
        <div class = 'text-center'>
          <button class="mt-3 w-32 px-4 py-2 font-bold text-orange-500 border-2 border-orange-500 duration-200 ease-out rounded-md hover:bg-orange-700 focus:outline-none focus:shadow-outline" id = 'cancel-button' onclick = 'cancel_delete()'>
              Cancel
          </button>
          <button onclick = 'delRequest()' class="mt-3 w-32 px-4 py-2 font-bold border-2 border-orange-500 text-white bg-orange-500   rounded-md hover:bg-orange-700 focus:outline-none focus:shadow-outline" id = 'confirm-button'>
            Confirm
          </button>
        </div>

    
    </div>
    
  </div>


<div class="py-4"></div>
<div class="container mx-auto px-4">
  
  <div class="mb-4">
  <header class="py-6 bg-slate-300 border-b border-gray-300">
    <h1 class="text-center text-3xl font-bold text-gray-800 mb-2">Admin Dashboard</h1>
  </header>
  </div>
  


  
  




<div class="flex flex-col">
  <div class="mb-10">
  <div class="border-b">
    <h1 class="text-2xl">Website Performance</h1>
  </div>

  <div class="mt-4 bg-white w-full grid grid-cols-1 md:grid-cols-1 xl:grid-cols-3 gap-4">
      <div class="px-4 py-4 flex border border-2 rounded items-center">
        <div class="flex-shrink-0">
          <span class="text-2xl sm:text-3xl leading-none font-bold text-blue-500">{{listingCount}}</span>
          <h3 class="text-base font-normal text-gray-500">Listings</h3>
        </div>
      </div>
   
      <div class="flex border border-2 rounded items-center">
        <div class="px-4 py-4 flex-shrink-0">
          <span class="text-2xl sm:text-3xl leading-none font-bold text-blue-500"></span>
          <h3 class="text-base font-normal text-gray-500">Sales</h3>
        </div>
      </div>
    
      <div class="flex border border-2 rounded items-center">
        <div class="px-4 py-4 flex-shrink-0">
          <span class="text-2xl sm:text-3xl leading-none font-bold text-blue-500">{{userCount}}</span>
          <h3 class="text-base font-normal text-gray-500">Total users</h3>
        </div>
      </div>
  
  </div>
</div>

  
  <div class="border-b mb-4">
    <h1 class="text-2xl">Recent Transactions</h1>
  </div>  
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table id="recenttransactions" class="w-full text-left text-sm  text-gray-500 bg-white" style="width:100%">
      <thead class="text-xs uppercase bg-slate-100">
        <tr>
          <th scope="col" class="px-6 py-3">Date & Time</th>
          <th scope="col" class="px-6 py-3">Description</th>
          <th scope="col" class="px-6 py-3">Amount</th>
          
        </tr>
      </thead>
      <tbody>
        {% for record in wallet.transactions %}
        <tr class="border-b bg-white hover:bg-blue-200 dark:border-slate-700 dark:bg-gray-slate">
          <td class="p-6 whitespace-nowrap text-sm font-normal text-gray-900">
            {{ record.transaction_timestamp }}
          </td>
          <td class="p-6 whitespace-nowrap text-sm font-normal text-gray-500">
            {{ record.transaction_type }}
          </td>
          <td class="p-6 whitespace-nowrap text-sm font-semibold text-gray-900">
            {{ record.transaction_amount }}
          </td>
        </tr>
        {%endfor%}
      
        
       
        
      </tbody>
    </table>
  </div>
</div>

  

<div class="mt-8">
  <div class="border-b mb-4">
    <h1 class="text-2xl">Manage users</h1>
  </div>  
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table id="manageusers" class="w-full text-left text-sm  text-gray-500 bg-slate-100" style="width:100%">
      <thead class="text-xs uppercase ">
        <tr class="">
          <th scope="col" class="px-6 py-3">UID</th>
          <th scope="col" class="px-6 py-3">Full Name</th>
          <th scope="col" class="px-6 py-3">Email Address</th>
          <th scope="col" class="px-6 py-3">Contact Number</th>
          <th scope="col" class="px-6 py-3">Background Check</th>
          <th scope="col" class="px-6 py-3">Access Level</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody class="w-full"> 
        {% for key, users in users.items() %}
        <tr class="border-b bg-white hover:bg-blue-200 dark:border-slate-700 dark:bg-gray-slate">
          <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium">{{users.uid}}</th>
          <td class="px-6 py-4">{{users.full_name}}</td>
          <td class="px-6 py-4">{{users.email}}</td>
          <td class="px-6 py-4">{{users.phone_number}}</td>
          <td class="px-6 py-4">{{users.background_check}}</td>
          <td class="px-6 py-4">{{users.access_level}}</td>
          
          <td class="px-6 py-4">
            <button onclick="editUser('{{users.uid}}', '{{users.full_name}}', '{{users.email}}' , '{{users.phone_number}}','{{users.background_check}}','{{users.access_level}}')"
              class="font-medium text-blue-600 hover:underline dark:text-blue-500">Edit</button>
          </td>
          <td class="px-6 py-4">
            <a href="#" class="font-medium text-red-600 hover:underline dark:text-red-500" id='delete-button'
              onclick='show_confirmation("{{users.uid}}")'>Delete </a>
          </td>
        {%endfor%}
        </tr>
          
       
        
      </tbody>
    </table>
  </div>
</div>

  
          
    
</div>
</div>

<div class='hidden w-full fixed z-40 inset-0 bg-slate-500/50 ' id='update_popup'>
  <div class='bg-white px-8 py-6 rounded-lg absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-50'
    id='confirmation'>
    <form>
      <div class="mb-4">
        <label class="block font-bold mb-2" for="editUID">UID</label>
        <input placeholder="{{users.uid}}"class="p-2.5 w-full block rounded-lg font-light text-gray-900 bg-gray-50 border border-gray-300 focus:outline-none focus:ring-1 focus:ring-blue-600 focus:border-blue-600" type="text" id="editUID" readonly>
      </div>
      <div class="mb-4">
        <label class="block font-bold mb-2" for="editFullName">Name</label>
        <input placeholder="{{users.full_name}}" class="p-2.5 w-full block rounded-lg font-light text-gray-900 bg-gray-50 border border-gray-300 focus:outline-none focus:ring-1 focus:ring-blue-600 focus:border-blue-600" type="text" id="editFullName">
      </div>
      <div class="mb-4">
        <label class="block font-bold mb-2" for="editEmail">Email Address</label>
        <input placeholder="{{users.email}}" class="p-2.5 w-full block rounded-lg font-light text-gray-900 bg-gray-50 border border-gray-300 focus:outline-none focus:ring-1 focus:ring-blue-600 focus:border-blue-600" type="email" id="editEmail">
      </div>
      <div class="mb-4">
        <label class="block font-bold mb-2" for="editPhoneNumber">Contact Number</label>
        <input maxlength="9" placeholder="{{users.phone_number}}" class="p-2.5 w-full block rounded-lg font-light text-gray-900 bg-gray-50 border border-gray-300 focus:outline-none focus:ring-1 focus:ring-blue-600 focus:border-blue-600" type="tel" id="editPhoneNumber" >
      </div>
      <div class="mb-4">
        <label class="block font-bold mb-2" for="editBackground">Background Check</label>
        <select placeholder="{{users.background_check}}" class="p-2.5 w-full block rounded-lg font-light text-gray-900 bg-gray-50 border border-gray-300 focus:outline-none focus:ring-1 focus:ring-blue-600 focus:border-blue-600" name="" id="editBackground">
          <option value="False">False</option>
          <option value="True">True</option>
        </select>
      </div>
      <div class="mb-4">
        <label class="block font-bold mb-2" for="editAccessLevel">Access Level</label>
        <select class="p-2.5 w-full block rounded-lg font-light text-gray-900 bg-gray-50 border border-gray-300 focus:outline-none focus:ring-1 focus:ring-blue-600 focus:border-blue-600" name="" id="editAccessLevel">
          <option value="User">User</option>
          <option value="Admin">Admin</option>
        </select>
      </div>

      <span id="updateErrorText" class="text-red-600 font-bold"></span>
    </form>
    <button
      class="mt-3 w-32 px-4 py-2 font-bold text-blue-500 border-2 border-blue-500 duration-200 ease-out rounded-md hover:bg-blue-700 focus:outline-none focus:shadow-outline"
      id='cancel-button' onclick='updateCancel()'>
      Cancel
    </button>
    <button onclick='updateRequest()'
      class="mt-3 w-32 px-4 py-2 font-bold border-2 border-blue-500 text-white bg-blue-500   rounded-md hover:bg-blue-700 focus:outline-none focus:shadow-outline"
      id='confirm-button'>
      Update
    </button>


  </div>
   
    
     
  <script>
    $("#recenttransactions").DataTable({
    "scrollY": 200,
    "scrollX": true
});

$("#manageusers").DataTable({
    "scrollY": 350,
    "scrollX": true
});

</script>

  
<script>



  

  
  let user_uid;



    function show_confirmation(uid){
      user_uid=uid
      let overlay = document.getElementById('popup-overlay');
      overlay.classList.remove('hidden')
     }
    function cancel_delete(){
      let overlay = document.getElementById('popup-overlay');
      overlay.classList.add('hidden')
     }

  const popup = document.getElementById('update_popup')
  const updateErrorText = document.getElementById('updateErrorText')
  const editUID = document.getElementById('editUID')
  const editFullName = document.getElementById('editFullName')
  const editPhoneNumber = document.getElementById('editPhoneNumber')
  const editBackground = document.getElementById('editBackground')
  const editAccessLevel = document.getElementById('editAccessLevel')
  const editEmail= document.getElementById("editEmail")
  const userapi_url = {{ url_for("userapiendpoint") | tojson}}

  function delRequest(){
      let confirmation_text = document.getElementById('confirmation-text');
      let success_delete = document.getElementById('success-delete');
      let cancel_button = document.getElementById('cancel-button');
      let confirm_button= document.getElementById('confirm-button');

      success_delete.classList.remove('hidden');

      confirmation_text.classList.add('hidden');
      cancel_button.classList.add('hidden');
      confirm_button.classList.add('hidden');


      fetch(`${userapi_url}/${user_uid}`, {
                "method": "DELETE",
                "headers": {"Content-Type": "application/json"},
            })
            .then(setTimeout(() => window.location.href = '/admin/dashboard', 1000))
    }

    
    

  function editUser(uid, full_name, email ,phone_number,background,access_level) {
    editUID.value = uid
    editFullName.value = full_name
    editPhoneNumber.value = phone_number
    editEmail.value= email
    editBackground.value = background
    editAccessLevel.value = access_level

    popup.classList.toggle('hidden')
  }

  function updateCancel() {
    updateErrorText.innerText = ''
    popup.classList.toggle('hidden')
  }

  function updateRequest() {
    if (!editFullName.value || !editPhoneNumber.value || !editEmail.value ) {
      updateErrorText.innerText = "All fields have to be filled up!"
      return
    }

    fetch(`${userapi_url}/${editUID.value}`, {
      "method": "PUT",
      "headers": { "Content-Type": "application/json" },
      "body": JSON.stringify({
        "full_name": editFullName.value,
        "email": editEmail.value,
        "phone_number": editPhoneNumber.value,
        "background_check": editBackground.value,
        "access_level": editAccessLevel.value,

      })
    }).then(setTimeout(() => window.location.reload(), 250))
  }

 
</script>
  
  
  
 
</body>



</html>
{% endblock %}