{% from 'components/macros.html' import card_listing %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% block title %}{% endblock %} | SGCARWASH</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

  <!-- TailwindCSS Play CDN -->
  <!-- WARNING: DO NOT USE IN PRODUCTION -->
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    body {
      font-family: 'Lexend Deca', sans-serif !important;
    }
  </style>
</head>

<body id="body">
  {% include "components/navbar.html" %}

  <div class="p-4 mx-auto container">
    {% block content %}{% endblock %}
  </div>

  {% block script %}{% endblock %}
</body>

</html>