{% extends 'base.html' %}

{% block title %}Job End{% endblock %}

{% block content %}
<section class="flex flex-col gap-4">
  {% with alerts = get_flashed_messages() %}
  {% if alerts %}
  {% for alert in alerts %}
  <div class="p-4 col-span-1 md:col-span-2 flex flex-row gap-1 text-sm text-red-800 bg-red-100 rounded-lg" role="alert">
    <div class="w-5 h-5">
      <img src="/img/exclaimation.svg" alt="Exclaimation Icon" draggable="false">
    </div>

    <p class="grow">
      {{alert}}
    </p>
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}

  <form id="form" method="POST" enctype="multipart/form-data" class="space-y-4">
    <h1 class="py-6 font-bold text-xl text-white text-center bg-green-500 md:text-2xl">Job End</h1>

    <div class="p-6 bg-white border border-blue-200 rounded-lg">
      <h5 class="mb-2 text-lg font-bold tracking-tight text-gray-900 md:text-xl">Exterior Photos</h5>
      <p class="text-gray-700">Upload photos of all four angles of the customer's car after washing.</p>

      <div class="mt-4 grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-4">
        <div>
          <label id="front_of_vehicle_box" for="front_of_vehicle_img"
            class="aspect-square w-full rounded-lg flex flex-col items-center justify-center border-2 border-gray-300 border-dashed cursor-pointer active:bg-blue-50 active:border-blue-300">
            <div class="flex flex-col items-center justify-center py-6">
              <img src="/img/upload.svg" alt="Upload Icon" class="mb-3 w-5 h-5">
              <p class="mb-2 text-sm text-gray-500">Front of Vehicle</p>
              <p class="text-xs text-gray-500">PNG or JPG (Max 1 MB)</p>
            </div>
            <input type="file" name="front_of_vehicle_img" id="front_of_vehicle_img" accept="image/png, image/jpeg"
              class="hidden">
          </label>
        </div>

        <div>
          <label id="left_of_vehicle_box" for="left_of_vehicle_img"
            class="aspect-square w-full rounded-lg flex flex-col items-center justify-center border-2 border-gray-300 border-dashed cursor-pointer active:bg-blue-50 active:border-blue-300">
            <div class="flex flex-col items-center justify-center py-6">
              <img src="/img/upload.svg" alt="Upload Icon" class="mb-3 w-5 h-5">
              <p class="mb-2 text-sm text-gray-500">Left of Vehicle</p>
              <p class="text-xs text-gray-500">PNG or JPG (Max 1 MB)</p>
            </div>
            <input type="file" name="left_of_vehicle_img" id="left_of_vehicle_img" accept="image/png, image/jpeg"
              class="hidden">
          </label>
        </div>

        <div>
          <label id="right_of_vehicle_box" for="right_of_vehicle_img"
            class="aspect-square w-full rounded-lg flex flex-col items-center justify-center border-2 border-gray-300 border-dashed cursor-pointer active:bg-blue-50 active:border-blue-300">
            <div class="flex flex-col items-center justify-center py-6">
              <img src="/img/upload.svg" alt="Upload Icon" class="mb-3 w-5 h-5">
              <p class="mb-2 text-sm text-gray-500">Right of Vehicle</p>
              <p class="text-xs text-gray-500">PNG or JPG (Max 1 MB)</p>
            </div>
            <input type="file" name="right_of_vehicle_img" id="right_of_vehicle_img" accept="image/png, image/jpeg"
              class="hidden">
          </label>
        </div>

        <div>
          <label id="back_of_vehicle_box" for="back_of_vehicle_img"
            class="aspect-square w-full rounded-lg flex flex-col items-center justify-center border-2 border-gray-300 border-dashed cursor-pointer active:bg-blue-50 active:border-blue-300">
            <div class="flex flex-col items-center justify-center py-6">
              <img src="/img/upload.svg" alt="Upload Icon" class="mb-3 w-5 h-5">
              <p class="mb-2 text-sm text-gray-500">Back of Vehicle</p>
              <p class="text-xs text-gray-500">PNG or JPG (Max 1 MB)</p>
            </div>
            <input type="file" name="back_of_vehicle_img" id="back_of_vehicle_img" accept="image/png, image/jpeg"
              class="hidden">
          </label>
        </div>
      </div>

      <p class="mt-2 font-light text-sm text-gray-500">
        Take a photo of the exterior outlook of the vehicle. Remember to get every angle of the car.
      </p>
    </div>

    <div class="p-6 bg-white border border-blue-200 rounded-lg">
      <h5 class="mb-2 text-lg font-bold tracking-tight text-gray-900 md:text-xl">Interior Photos (Optional)</h5>
      <p class="text-gray-700">Upload photos of the car's interior after interior detailing.</p>

      <div class="mt-4 grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-4">
        <div>
          <label id="interior1_box" for="interior1_img"
            class="aspect-square w-full rounded-lg flex flex-col items-center justify-center border-2 border-gray-300 border-dashed cursor-pointer active:bg-blue-50 active:border-blue-300">
            <div class="flex flex-col items-center justify-center py-6">
              <img src="/img/upload.svg" alt="Upload Icon" class="mb-3 w-5 h-5">
              <p class="mb-2 text-sm text-gray-500">Interior 1</p>
              <p class="text-xs text-gray-500">PNG or JPG (Max 1 MB)</p>
            </div>
            <input type="file" name="interior1_img" id="interior1_img" accept="image/png, image/jpeg" class="hidden">
          </label>
        </div>

        <div>
          <label id="interior2_box" for="interior2_img"
            class="aspect-square w-full rounded-lg flex flex-col items-center justify-center border-2 border-gray-300 border-dashed cursor-pointer active:bg-blue-50 active:border-blue-300">
            <div class="flex flex-col items-center justify-center py-6">
              <img src="/img/upload.svg" alt="Upload Icon" class="mb-3 w-5 h-5">
              <p class="mb-2 text-sm text-gray-500">Interior 2</p>
              <p class="text-xs text-gray-500">PNG or JPG (Max 1 MB)</p>
            </div>
            <input type="file" name="interior2_img" id="interior2_img" accept="image/png, image/jpeg" class="hidden">
          </label>
        </div>

        <div>
          <label id="interior3_box" for="interior3_img"
            class="aspect-square w-full rounded-lg flex flex-col items-center justify-center border-2 border-gray-300 border-dashed cursor-pointer active:bg-blue-50 active:border-blue-300">
            <div class="flex flex-col items-center justify-center py-6">
              <img src="/img/upload.svg" alt="Upload Icon" class="mb-3 w-5 h-5">
              <p class="mb-2 text-sm text-gray-500">Interior 3</p>
              <p class="text-xs text-gray-500">PNG or JPG (Max 1 MB)</p>
            </div>
            <input type="file" name="interior3_img" id="interior3_img" accept="image/png, image/jpeg" class="hidden">
          </label>
        </div>

        <div>
          <label id="interior4_box" for="interior4_img"
            class="aspect-square w-full rounded-lg flex flex-col items-center justify-center border-2 border-gray-300 border-dashed cursor-pointer active:bg-blue-50 active:border-blue-300">
            <div class="flex flex-col items-center justify-center py-6">
              <img src="/img/upload.svg" alt="Upload Icon" class="mb-3 w-5 h-5">
              <p class="mb-2 text-sm text-gray-500">Interior 4</p>
              <p class="text-xs text-gray-500">PNG or JPG (Max 1 MB)</p>
            </div>
            <input type="file" name="interior4_img" id="interior4_img" accept="image/png, image/jpeg" class="hidden">
          </label>
        </div>
      </div>

      <p class="mt-2 font-light text-sm text-gray-500">
        Make sure it's spotless!
      </p>
    </div>

    <button type="submit"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 focus:outline-none">
      Upload Photos
    </button>
  </form>
</section>
{% endblock %}

{% block script %}
<script>
  const front_of_vehicle_img = document.getElementById('front_of_vehicle_img')
  const left_of_vehicle_img = document.getElementById('left_of_vehicle_img')
  const right_of_vehicle_img = document.getElementById('right_of_vehicle_img')
  const back_of_vehicle_img = document.getElementById('back_of_vehicle_img')

  const interior1_img = document.getElementById('interior1_img')
  const interior2_img = document.getElementById('interior2_img')
  const interior3_img = document.getElementById('interior3_img')
  const interior4_img = document.getElementById('interior4_img')

  const front_of_vehicle_box = document.getElementById('front_of_vehicle_box')
  const left_of_vehicle_box = document.getElementById('left_of_vehicle_box')
  const right_of_vehicle_box = document.getElementById('right_of_vehicle_box')
  const back_of_vehicle_box = document.getElementById('back_of_vehicle_box')

  const interior1_box = document.getElementById('interior1_box')
  const interior2_box = document.getElementById('interior2_box')
  const interior3_box = document.getElementById('interior3_box')
  const interior4_box = document.getElementById('interior4_box')

  function updateImage() {
    const [front_of_vehicle_file] = front_of_vehicle_img.files
    const [left_of_vehicle_file] = left_of_vehicle_img.files
    const [right_of_vehicle_file] = right_of_vehicle_img.files
    const [back_of_vehicle_file] = back_of_vehicle_img.files

    const [interior1_file] = interior1_img.files
    const [interior2_file] = interior2_img.files
    const [interior3_file] = interior3_img.files
    const [interior4_file] = interior4_img.files

    if (front_of_vehicle_img.value != "") {
      front_of_vehicle_box.classList.add('bg-contain')
      front_of_vehicle_box.classList.add('bg-center')
      front_of_vehicle_box.classList.add('bg-no-repeat')
      front_of_vehicle_box.classList.add(`bg-[url('${URL.createObjectURL(front_of_vehicle_file)}')]`)
    }

    if (left_of_vehicle_img.value != "") {
      left_of_vehicle_box.classList.add('bg-contain')
      left_of_vehicle_box.classList.add('bg-center')
      left_of_vehicle_box.classList.add('bg-no-repeat')
      left_of_vehicle_box.classList.add(`bg-[url('${URL.createObjectURL(left_of_vehicle_file)}')]`)
    }

    if (right_of_vehicle_img.value != "") {
      right_of_vehicle_box.classList.add('bg-contain')
      right_of_vehicle_box.classList.add('bg-center')
      right_of_vehicle_box.classList.add('bg-no-repeat')
      right_of_vehicle_box.classList.add(`bg-[url('${URL.createObjectURL(right_of_vehicle_file)}')]`)
    }

    if (back_of_vehicle_img.value != "") {
      back_of_vehicle_box.classList.add('bg-contain')
      back_of_vehicle_box.classList.add('bg-center')
      back_of_vehicle_box.classList.add('bg-no-repeat')
      back_of_vehicle_box.classList.add(`bg-[url('${URL.createObjectURL(back_of_vehicle_file)}')]`)
    }

    if (interior1_img.value != "") {
      interior1_box.classList.add('bg-contain')
      interior1_box.classList.add('bg-center')
      interior1_box.classList.add('bg-no-repeat')
      interior1_box.classList.add(`bg-[url('${URL.createObjectURL(interior1_file)}')]`)
    }

    if (interior2_img.value != "") {
      interior2_box.classList.add('bg-contain')
      interior2_box.classList.add('bg-center')
      interior2_box.classList.add('bg-no-repeat')
      interior2_box.classList.add(`bg-[url('${URL.createObjectURL(interior2_file)}')]`)
    }

    if (interior3_img.value != "") {
      interior3_box.classList.add('bg-contain')
      interior3_box.classList.add('bg-center')
      interior3_box.classList.add('bg-no-repeat')
      interior3_box.classList.add(`bg-[url('${URL.createObjectURL(interior3_file)}')]`)
    }

    if (interior4_img.value != "") {
      interior4_box.classList.add('bg-contain')
      interior4_box.classList.add('bg-center')
      interior4_box.classList.add('bg-no-repeat')
      interior4_box.classList.add(`bg-[url('${URL.createObjectURL(interior4_file)}')]`)
    }
  }

  front_of_vehicle_img.addEventListener('input', updateImage)
  left_of_vehicle_img.addEventListener('input', updateImage)
  right_of_vehicle_img.addEventListener('input', updateImage)
  back_of_vehicle_img.addEventListener('input', updateImage)

  interior1_img.addEventListener('input', updateImage)
  interior2_img.addEventListener('input', updateImage)
  interior3_img.addEventListener('input', updateImage)
  interior4_img.addEventListener('input', updateImage)
</script>
{% endblock %}