{% extends 'base.html' %}

{% block title %}Car Listings{% endblock %}

{% block content %}
<section>
  {% with alerts = get_flashed_messages() %}
  {% if alerts %}
  {% for alert in alerts %}
  <div class="p-4 col-span-1 md:col-span-2 flex flex-row gap-1 text-sm text-red-800 bg-red-100 rounded-lg" role="alert">
    <div class="w-5 h-5">
      <img src="/img/exclaimation.svg" alt="Exclaimation Icon" draggable="false">
    </div>

    <p class="grow">
      {{alert}}
    </p>
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}

  <div class="mb-6">
    <h1 class="mb-4 text-2xl font-bold text-center text-gray-900 md:text-3xl">Car Listings</h1>

    <form method="GET" id="search" class="relative">
      <div class="flex flex-row border border-gray-300 rounded-lg">
        <div class="flex-none self-center">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor"
            class="pl-2 w-8 md:pl-4 md:w-10">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
          </svg>
        </div>

        <div class="grow">
          <input type="search"
            name="query"
            value="{{ query }}"
            placeholder="Search for listings..."
            class="p-2 md:p-4 w-full rounded-lg text-base text-gray-900 font-light focus:outline-none focus:ring-blue-500 focus:border-blue-500">
        </div>

        <div class="flex-none">
          <button type="submit"
            class="p-2 md:p-4 px-4 md:px-6 h-full text-white bg-blue-700 rounded-r-lg">Search</button>
        </div>
      </div>
    </form>
  </div>

  <h3 class="mb-4 flex flex-row
              font-bold text-xl md:text-2xl
              after:ml-4 after:my-auto after:flex-1 after:content-['']
              after:border-b-[1px] after:border-gray-300">
    Available Listings
  </h3>

  {% if cars | length == 0 %}
  <div class="flex flex-col items-center gap-4">
    <img src="/img/no_car.gif" alt="No Cars Available" class="w-full max-w-lg">
    <span class="text-center font-light">Sorry, there are no cars listed now. Please check again later.</span>
  </div>
  {% endif %}

  <div class="grid gap-4 grid-cols-[repeat(auto-fill,_minmax(20rem,_1fr))]">
    {% for listing in cars | selectattr('status', 'equalto', 'LISTED') | sort(attribute='created_at') | reverse
    %}
    {{ card_listing(listing) }}
    {% endfor %}
  </div>
</section>
{% endblock %}