{% extends 'base.html' %}

{% block title %}Car Listings{% endblock %}

{% block content %}
<section>
  {% with alerts = get_flashed_messages() %}
  {% if alerts %}
  {% for alert in alerts %}
  <div class="p-4 col-span-1 md:col-span-2 flex flex-row gap-1 text-sm text-red-800 bg-red-100 rounded-lg" role="alert">
    <div class="w-5 h-5">
      <img src="/img/exclaimation.svg" alt="Exclaimation Icon" draggable="false">
    </div>

    <p class="grow">
      {{alert}}
    </p>
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}

  <h1 class="mb-4 text-xl text-center font-bold text-gray-900 md:text-2xl">Car Listings</h1>

  {% if cars | length == 0 %}
  <div class="flex flex-col items-center gap-4">
    <img src="/img/no_car.gif" alt="No Cars Available" class="w-full max-w-lg">
    <span class="text-center font-light">Sorry, there are no cars listed now. Please check again later.</span>
  </div>
  {% endif %}

  <div class="grid gap-4 grid-cols-[repeat(auto-fill,_minmax(20rem,_1fr))]">
    {% for listing in cars.values() | selectattr('status', 'equalto', 'LISTED') | sort(attribute='created_at') | reverse
    %}
    {{ card_listing(listing) }}
    {% endfor %}
  </div>
</section>
{% endblock %}